.mainMedia-wrapper {
  display: flex;
  width: 1200px;
  height: 270px;
  margin: -120px 0 0 305px;
  padding: 30px 30px 10px 45px;
}

@media (max-width:375px) {
  .mainMedia-wrapper {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
    padding: 0 27px;
  }
}