.statistics-wrapper {
  margin: 0 350px;
  width: 1110px;
}

.statistics-h2 {
  text-align: left;
  color: var(--text-color);
  margin: 22px 0 0 0;
}

.statistcsBlocks {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width:375px) {
  .statistics-wrapper {
    margin: 0;
    width: 375px;
  }

  .statistics-h2 {
    margin: 15px 0 0 24px;
  }

  .statistcsBlocks {
    margin-top: 27px;
  }

  
}