/* Variables  */
html[data-theme="dark"]{
  --card-bg-color: hsl(228, 28%, 20%);
  --text-color: hsl(228, 34%, 66%);
  --text-number-color: hsl(0, 0%, 100%);
  --top-bg-color: hsl(232, 19%, 15%);
  --bg-color: hsl(230, 17%, 14%);
}

html[data-theme="light"]{
  --card-bg-color: hsl(227, 47%, 96%);
  --text-color: hsl(228, 12%, 44%);
  --text-number-color: hsl(230, 17%, 14%);
  --top-bg-color: hsl(225, 100%, 98%);
  --bg-color: hsl(0, 0%, 100%);
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);  
}